.popup {
    width: 24rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: none;
  }
  